#Payment {
	.fa-stack, h4 {
	float:left;
}
.fa-lock {
	padding:5px;
}

  label, select {
 	padding: 3px 10px;
 	width:100%;
 }
 input {
 	padding: 3px 10px;
 	width:80%;
 }
.fa-cc-visa, .fa-question-circle {
	float:right;	
}
button {
    width:100%;
	padding:10px;
	background-color: #6bd400;
	color:white;
	border:none;
	font-size:20px;
	i{
	 padding:3px;
	}
}
 
   

	}